body {
    background: #383e56;
}

text {
    font-family: monospace;
}

#yAxisGroup {
    color: #798777;
}

#xAxisGroup {
    color: #798777;
}

rect {
    fill: #c5d7bd;
}

#girlsTexAge {
    fill: #c5d7bd;
}

#diCaprioTexAge {
    fill: #fb743e;
}

#circleRefAge {
    fill: #fb743e;
}

#lineAges {
    stroke: #fb743e;
}
