@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

body {
    background: #272a30;
}

text {
    font-family: "Nixie One";
    font-weight: bold;
}

#yAxisGroup {
    color: #798777;
}

#xAxisGroup {
    color: #798777;
}

rect {
    fill: #c5d7bd;
}

#girlsTexAge {
    fill: #c5d7bd;
}

#diCaprioTexAge {
    fill: #fb743e;
}

#circleRefAge {
    fill: #fb743e;
    stroke: #c5d7bd;
}

#lineAges {
    stroke: #c5d7bd;
}

.label {
    position: absolute;
    display: none;
    min-width: 40px;
    height: auto;
    background: none repeat scroll 0 0 #798777;
    border: 1px solid #c5d7bd;
    padding: 7px;
    text-align: center;
    font-family: "Nixie One";
    color: #c5d7bd;
}
